curl -v http://localhost:9000/syscmd -d "{\"op\":\"monitor\", \"args\":[\"disk\"]}"
curl -v http://localhost:9000/syscmd -d "{\"op\":\"syscmd\", \"args\":[\"sar\", \"-n\", \"DEV\",\"1\", \"10000\"]}"
curl -v http://113.56.106.66:9000/mongo -d "{\"db\":\"admin\", \"cmd\":{\"cmd\":\"dbMonB\"}}"